{
 :user "re-ops"
 :home "/home/re-ops"

 :pfelk #profile {
    :prod #include "prod/pfelk.edn"
    :dev #include "dev/pfelk.edn"
 }

 :nginx #profile {
    :prod #include "prod/nginx.edn"
    :dev #include "dev/nginx.edn"
 }

 :lxd #profile {
    :prod #include "prod/lxd.edn"
    :dev #include "dev/lxd.edn"
 }

 :gpg #profile {
    :prod #include "prod/gpg.edn"
    :dev #include "dev/gpg.edn"
 }
}
