{
  :secrets #include "secrets.edn"

  :user "re-ops"
  :home "/home/re-ops"

  :logstash {
    :server {
      :hosts ["192.168.122.188:5044"]
    }
    :beats true
  }

  :pfelk {
    :ip "192.168.1.1"
    :ifcs [
       {:name "igb1" :alias "WAN" :description "Ingress WEB"}
       {:name "igb2" :alias "LAN" :description "Internal network"}
       {:name "igb3" :alias "Guest" :description "Guest network"}
       {:name "lo0" :alias "Link-Local" :description "Local link"}
    ]
   :geoip {
      :license-key "1234"
      :account-id "1235"
   }
  }

  :gpg {
    :name "Re-ops"
    :comment "Re-ops gpg key used locally during development"
    :email "re-ops@local.com"
    :pass #ref [:secrets :gpg :password]
  }

  :lxd {
    :bind "127.0.0.1"
    :ipv4-range "10.0.0.1/24"
    :port 8443
    :password #ref [:secrets :lxd :password]
  }

  :elasticsearch {
    :password #ref [:secrets :elasticsearch :password]
  }

  :influxdb {
    :username #ref [:secrets :influxdb :username]
    :password #ref [:secrets :influxdb :password]
    :bucket "testing"
    :org "testing-org"
  }
  :nginx {
    :enabled "/etc/docker/compose/nginx-proxy/sites-enabled"
  }

  :wazuh {
    :manager {
      :ip "192.168.122.100"
    }
    :passwords #ref [:secrets :wazuh :passwords]
    :hashes #ref [:secrets :wazuh :hashes]
  }

  :photoprism {
    :passwords #ref [:secrets :photoprism :passwords]

    :volumes {
      :foo "/home/re-ops/foo"
      :bar "/home/re-ops/bar"
    }
  }

  :mosquitto {
    :passwords #ref [:secrets :mosquitto :passwords]
    :port 1883
  }

  :nebula {
    :port 4242
    :lighthouse {
       :hostname "lighthouse" :host-ip "192.168.122.194" :nebula-ip "192.168.100.1"
    }
  }

  :novnc {
    :passwords #ref [:secrets :novnc :passwords]
  }
}
