{
 :geoip {
   :license-key "1234"
   :account-id "1235"
 }

 :elasticsearch {
   :password "foobar"
 }

 :influxdb {
   :username "admin"
   :password "au2zoh1Mi"
 }

 :gpg {
   :password "cahc7Eiw!"
 }

 :lxd {
   :password "du3Lia8J!"
 }

 :photoprism {
   :passwords {
      :admin "boThee7y"
      :db "ooVaey9j"
   }
 }

 :wazuh {
    :passwords {
      :api "EePheveeDei3OhquaeCa!"
      :elasticsearch "Aece3eeT3thitheeshie?"
      :agent "aexoadeeyi!e3PhohgeiW?"
    }
    :hashes {
      :admin "$2y$12$W7cv2kjkafie1JiAhPMQOOy/fZ7ylqx.JdPRsX1pNNP.FkLrDU5K."
      :infra "$2y$12$uUM0FVynlywZA/Ay4TtrSOrt3ulSnwxpbSNk0eoeH7C6HJu3NCtr."
    }
 }
 :mosquitto {
    :passwords [
      {
       :user "iot-user"
       :hash "$6$428MIu9n8Ww2z99S$27Ar3Rlq5k9acIW6IIVxPnwrI92AFNOJkaveWc3okj4M27v0ADqWZ9Z4MH/1/4CJe/RjlOqo5A5hgd5xgSNG3A=="
      }
    ]
 }
}
