{
 :geoip {
   :license-key "1234"
   :account-id "1235"
 }

 :elasticsearch {
   :password "foobar"
 }

 :gpg {
   :password "cahc7Eiw!"
 }

 :lxd {
   :password "du3Lia8J!"
 }

 :photoprism {
   :password {
      :admin "ooVaey9j"
      :db "ooVaey9j"
   }
 }
 :wazuh {
    :api "fahrei2X"
    :elasticsearch "eeCh5aiz"
 }
}
